/*视频默认样式*/
.video {
    /*背景色 */
    background: #222;
    margin: 0 0 20px 0;
    /*宽高值, 宽高比为4: 3 */
    width: 640px;
    height: 480px;
}

/*画布默认样式*/
.canvas {
    background-color: #ccc;
    /*宽高值, 宽高比为4: 3 */
    width: 640px;
    height: 480px;
}

/*错误警告样式*/
.warning {
    color: red;
    font-weight: 400;
}